.dashboard-main-component {
    background-color: rgb(30,34,43);
    min-height: 100vh;
    height:auto;
    width: 100% !important;
}
.dashboard-main-container {
}

.dashboard-section-A {
    border-radius: 15px;
    background: rgb(21,24,30);
}

.main-logo-A {
    width: 60%;
}
